/***** FONTS *****/
@font-face {
  font-family: "AnonymousPro";
  src: url("../fonts/anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AnonymousPro";
  src: url("../fonts/anonymousPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

/***** MAIN *****/
main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  -webkit-filter: grayscale(35%);
          filter: grayscale(35%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

/***** PACKAGE *****/
.package {
  width: 80%;
  margin: 1rem 0;
  border: 2px solid #0e4f1f;
  border-left: 0;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
  -webkit-animation: push-up 1s ease-out forwards;
          animation: push-up 1s ease-out forwards;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  -webkit-transform: rotate(45deg) translate(3.5rem, -1rem);
      -ms-transform: rotate(45deg) translate(3.5rem, -1rem);
          transform: rotate(45deg) translate(3.5rem, -1rem);
  width: 12rem;
  text-align: center;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background: white;
  font: 700 1.2rem "AnonymousPro", "sans-serif"; /* font-weight font-size font-family */
}

.clearfix {
  clear: both;
}

/***** PLANS *****/
#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: 0;
  border-left: 2px solid #0e4f1f;
  text-align: right;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

/***** MEDIA QUERIES *****/
@media (min-width: 40rem) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
}

@media (min-width: 1500px) {
  .package {
    border: 2px solid #0e4f1f;
  }

  #free {
    border-right: 2px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}

/***** ANIMATIONS *****/
@-webkit-keyframes push-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}
@keyframes push-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}