.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      -webkit-transform: scaleX(1.4) scaleY(1.6);
          -ms-transform: scaleX(1.4) scaleY(1.6);
              transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark-1;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  &--animated {
    -webkit-animation: moveInBottom 0.5s ease-out 0.75s backwards;
            animation: moveInBottom 0.5s ease-out 0.75s backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: .3rem;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  &:active {
    -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
